.card {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  font-family: sans-serif;
  background: #fff;
  padding: 17px;
}

.image {
  width: 100%;
  border-radius: 6px;
}

.title {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}

.brends {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 5px;


  p {
    margin: 0;
    font-size: 14px;
    color: #444;
  }
}

.value {
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}

.priceBlock {
  display: flex;
  align-items: baseline;
  gap: 8px;

  h3 {
    font-size: 22px;
    font-weight: 700;
  }
}

.selects {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 17px;
}

.selectBox {
  display: flex;
  flex-direction: column;
  font-size: 13px;

  label {
    margin-bottom: 3px;
    color: #666;
  }

  select {
    max-width: 230px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }
}
.btns {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  .btn {
    width: 90%;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    background: #ffb300;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
  }
  .aboutBtns {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: 2px solid #ffb300;
    border-radius: 30px;
    color: black;
    cursor: pointer;
  }
}
