.card {
  width: 100%;
  max-width: 280px;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: sans-serif;
  background: #fff;
  padding: 18px;

  .image {
    width: 100%;
    height: 160px;
    border-radius: 6px;
  }

  .title {
    color: black;
    font-size: 10px;
    font-weight: 600;
  }

  .brends {
    display: grid;
    grid-template-columns: 1fr auto;

    p {
      margin: 0;
      font-size: 10px;
      color: #444;
    }
  }

  .value {
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
  }

  .priceBlock {
    display: flex;
    align-items: baseline;

    h3 {
      font-size: 12px;
      font-weight: 700;
    }
  }

  .selects {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .selectBox {
    display: flex;
    flex-direction: column;
    font-size: 10px;

    label {
      margin-bottom: 3px;
      color: #666;
    }

    select {
      max-width: 230px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 6px;
      font-size: 10px;
      cursor: pointer;
    }
  }
  .btns {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    .btn {
      width: 90%;
      padding: 8px;
      font-size: 12px;
      font-weight: 600;
      background: #ffb300;
      border: none;
      border-radius: 30px;
      color: #fff;
      cursor: pointer;
    }
    .aboutBtns {
      width: 90%;
      padding: 8px;
      font-size: 12px;
      font-weight: 600;
      background: none;
      border: 2px solid #ffb300;
      border-radius: 30px;
      color: black;
      cursor: pointer;
    }
  }
}
