.container {
  padding-top: 150px;
  background-image: url("/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;

  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 25px;

      span {
        color: #ff9900;
      }
h1 {
    width: 100%;
  max-width: 600px;
}
      button {
        background: linear-gradient(#ffc400, #ff9900);
        padding: 20px 30px;
        border-radius: 25px;
        width: fit-content;
      }
    }
  }
  .adaptiveImg {
    display: none;
    text-align: center;
    margin-top: 20px;
    width: 100%;

    img {
      width: 100%;
      max-width: 800px;
    }
  }
  @media (max-width: 1024px) {
    background-image: none;
      max-width: 768px;
    padding: 0 40px;
    .mainContainer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px;

      .left {
        align-items: center;

        button {
          width: 100%;
          max-width: 320px;
        }
      }
    }

    .adaptiveImg {
      display: block;
    }
  }
    @media (max-width: 1024px) {
    background-image: none;
    padding: 0 40px;
    .mainContainer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px;

      .left {
        align-items: center;

        button {
          width: 100%;
          max-width: 320px;
        }
      }
    }

    .adaptiveImg {
      display: block;
    }
  }
}
