.sidebar {
  padding: 10vh 3vw;          // Экранга жараша автомат өзгөрөт
  width: 25%;                 // Экрандын 25% — өзү адаптация болот
  min-width: 200px;           // Эң минимал туурасы
  max-width: 350px;           // Эң максимал туурасы
  height: 100vh;

  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;                   // Вертикал аралык процент менен
  background: #fff;

  transition: transform 0.5s ease;

  a {
    width: 80%;
    padding: 1.4vh 1vw;
    border-radius: 7px;
    color: #2c2c2c;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
  }

  a:hover,
  a:focus {
    border-bottom: 2px solid #ffc400;
  }

.open {
  position: fixed;
  left: 100%; 
  top: 50%;
  padding: 10px 6px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  color: #fff;
  background: #0000007b;
  z-index: 10; 
}

}

.closed {
  transform: translateX(-100%);
}

.opened {
  transform: translateX(0);
}
