.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: transform 0.4s ease;
  border-right: 1px solid #ddd;
  a {
    width: 80%;
    padding: 1.4vh 1vw;
    border-radius: 7px;
    color: #2c2c2c;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    font-size: 17px;
  }

  a:hover,
  a:focus {
    border-bottom: 2px solid #ffc400;
  }

  .open {
    position: absolute;
    left: 100%;
    top: 40%;
    padding: 18px 5px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    color: #fff;
    background: #0000007b;
    font-size: 18px;
    user-select: none;
  }
}

.closed {
  transform: translateX(-100%);
}

.opened {
  transform: translateX(0);
}
.openButton {
  position: absolute;
  right: -20px;
  top: 40%;
  width: 20px;
  height: 60px;
  background: #00000070;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.backHome {
  margin-top: auto;
  transition: 0.3s;
}

.backHome:hover {
  background: rgba(255, 0, 0, 0.711);
  color: white;
  opacity: 0.9;
}
