.card {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .block {
    display: flex;
    gap: 20px;
    align-items: center;
    .Right {
      width: 40px;
      height: 40px;
      box-shadow: 0px 4px 6px rgba(67, 67, 67, 0.276);
      border-radius: 50px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        color: #4b4a53;
      }
    }
  }
  
}
