.container {
  padding-block: 50px;
  .mainContainer {
    .header {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      button{
    background: green;
    color: white;
      }
    }
    .tableWrapper {
      width: 100%;
      height: 400px;
      border-radius: 20px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
      overflow: auto;
      scrollbar-width: none;
      .table {
        .headerRow {
          display: grid;
          grid-template-columns: 10% 20% 1fr 1fr 1fr 20%;
          align-items: center;
          font-size: 14px;
          color: #495057;
          border-bottom: 2px solid #dee2e6;
          padding: 16px;
        }
        .products {
          display: flex;
          flex-direction: column;
          padding: 20px 0;
        }
      }
    }
  }
}
