.container {
  padding-block: 40px;
  .mainContainer {
    .aboutUS {
      padding-bottom: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        color: #ff9900;
      }
      p {
        width: 100%;
        max-width: 520px;
        font-size: 20px;
        line-height: 25px;
        text-align: left;
      }
    }
    .aboutList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 25px 0px;
      .aboutCard {
        border-radius: 10px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        max-width: 350px;
        height: 230px;
        box-shadow: 1px 1px 3px 3px rgba(128, 128, 128, 0.203);
        gap: 10px;
        span {
          border-radius: 7px;
          display: flex;
          font-size: 19px;
          align-items: center;
          justify-content: center;
          background: linear-gradient(#ffc400, #ff9900);
          color: white;
          padding: 10px;
        }
        h4 {
          color: #000000b0;
        }
        p {
          color: #00000076;
          width: 100%;
          max-width: 240px;
        }
      }
    }
  }
  @media (max-width: 1366px) {
    max-width: 1200px;
  }
  @media (max-width: 1200px) {
    max-width: 1024px;
    .mainContainer {
      padding-block: 30px;
      .aboutUS {
        flex-direction: column;
        gap: 30px;
        text-align: center;
        .brH1 {
          display: none;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    max-width: 768px;
    padding: 0 40px;
    .mainContainer {
      .aboutList {
        justify-content: center;
        .aboutCard {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    max-width: 640px;
    .mainContainer {
      .aboutList {
        gap: 20px;
      }
    }
  }
  @media (max-width: 640px) {
    max-width: 475px;
    padding: 0;
  }
  @media (max-width: 475px) {
    max-width: 350px;
    padding: 0;
  }
}
