.container {
  background: #f7f9fd;
  padding: 40px 0;

  .mainContainer {
    h1 {
      text-align: center;
      color: rgb(62, 62, 62);
      text-transform: uppercase;
      line-height: 1.4;
      span {
        color: #ffc400;
      }
    }

    .testBlock {
      width: 100%;
      height: 500px;
      background: white;
      border-radius: 20px;
      margin: 20px 0;
      padding: 20px;
      box-shadow: 0px 22px 18px -25px rgba(91, 91, 91, 1);
      display: flex;
      justify-content: space-between;
      .right {
        width: 70%;
        height: 100%;
        .discount {
          display: flex;
          align-items: center;
          width: 100%;
          height: 30px;
          position: relative;
          background: white;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
          p {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: #44444e;
          }
          .percent {
            width: 50%;
            height: 100%;
            background: linear-gradient(135deg, #ff9900 0%, #ffeeb5 100%);
            border-radius: 10px;
          }
        }

        .text {
          margin: 30px 0;

          h3 {
            color: rgb(62, 62, 62);
            margin-bottom: 10px;
            span {
              color: #ffc400;
            }
          }
        }
      }

      .left {
        width: 30%;
        height: 100%;

        .cardImg {
          width: 100%;
          height: 65%;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          h4 {
            position: absolute;
            bottom: 0;
            color: #ffc400;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .mainContainer {
      h1 {
   text-align: start;
      }
      .testBlock {
        flex-direction: column-reverse;
        height: auto;
        background: none;
        padding: 0;

        .right{
          background: white;
          width: 100%;
          padding:40px  15px;
          border-radius: 15px;
          margin-top: 30px;
                  .discount {
          p {
            bottom: 100%;
          }
        }
        .text{
          text-align: center;
        
        }
        }
        .left {
          width: 100%;
        }

         .left {
        .cardImg {
          height: 40%;
       
        }
      }
      }
    }
  }


}
