.wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 24px;
      font-weight: 600;
      color: #222;
    }
    button {
      background: radial-gradient(circle, #ffc400 0%, #ff9900 100%);
    }
  }

  .topBar button {
    background: radial-gradient(circle, #ffc400 0%, #ff9900 100%);

    border: 1px solid #ffc40092;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .topBar button:hover {
    background: #ff9900;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  }

  .table th {
    text-align: left;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    border-bottom: 1px solid #eee;
  }

  .table td {
    padding: 14px 16px;
    font-size: 14px;
    color: #222;
    border-bottom: 1px solid #f1f1f1;
  }
}

// adaptate

@media (max-width: 768px) {
  .wrapper {
    padding: 16px;
    gap: 16px;

    .topBar {
      .title {
        font-size: 20px;
      }

      button {
        padding: 10px;
      }
    }

    .table th,
    .table td {
      padding: 10px 12px;
      font-size: 13px;
    }
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 12px;

    .topBar {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      .title {
        font-size: 18px;
      }
      button {
        width: 100%;
      }
    }

    .table th,
    .table td {
      padding: 8px 10px;
      font-size: 12px;
    }

    .table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}
