@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  /* outline: 1px solid blue; */
}
body {
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  @media (max-width: 1534px) {
    max-width: 1200px;
  }
  @media (max-width: 1200px) {
    max-width: 1024px;
  }
  @media (max-width: 1024px) {
    max-width: 768px;
    padding: 0 40px;
  }
  @media (max-width: 768px) {
    max-width: 640px;
  }
  @media (max-width: 640px) {
    max-width: 475px;
    padding: 0;
  }
  @media (max-width: 475px) {
    max-width: 350px;
    padding: 0;
  }
}

h1 {
  font-size: clamp(1.813rem, 1.609rem + 0.93vw, 2.5rem);
  font-weight: 500;
}
h2 {
}
h3 {
  font-size: clamp(1.063rem, 0.859rem + 0.93vw, 1.75rem);
  font-weight: 300;
}
h4 {
  font-size: clamp(0.938rem, 0.771rem + 0.76vw, 1.5rem);
  font-weight: 400;
}
h5 {
    font-size:clamp(0.625rem, 0.533rem + 0.42vw, 0.938rem);
    font-weight: 300;
}
p{
  color: #44444E;
}
p,
a {
  font-size: clamp(0.688rem, 0.595rem + 0.42vw, 1rem);
  font-weight: 400;
  /* line-height: 32px; */
  transition: border-bottom 1s ease-in;
}

button {
  padding: 7px 14px;
  border-radius: 5px;
  border: none;
  transition: 0.7s;
}

button:hover {
  transform: scale(1.02);
}
