.layout {
  display: flex;
  width: 100%;
}
.mainOpen {
  margin-left: 260px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.4s ease;
}
.mainClosed {
  margin-left: 0;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.4s ease;
}
