.container {
  padding: 15px;
  background: #fff;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .address {
      display: flex;
      align-items: center;
      gap: 8px;

      h2 {
        width: 150px;
        font-size: 16px;
        color: #444;
      }

      .separator {
        font-size: 28px;
        line-height: 60px;
        color: #444;
      }
    }

    .button {
      padding: 12px 20px;
      border: none;
      border-radius: 60px;
      background: radial-gradient(circle, #ffc400 0%, #ff9900 100%);
      cursor: pointer;
      font-weight: 500;
    }

    .icons {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;

      span {
        font-size: 14px;
        color: #44444e;
      }

      .socials {
        display: flex;
        gap: 8px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          color: #fff;
          font-size: 16px;
        }

        .wa {
          background: #25d366;
        }
        .tg {
          background: #0088cc;
        }
        .vk {
          background: #4a76a8;
        }
      }
    }
  }
}

// Адаптив

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .button {
    width: 200px;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .address h2 {
    font-size: 14px;
    width: 120px;
  }
  .address .separator {
    font-size: 24px;
    line-height: 50px;
  }
  .icons span {
    font-size: 12px;
  }
  .socials a {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
}
