.container {
  .mainContainer {
    display: grid;
    grid-template-columns: 10% 20% 1fr 1fr 1fr 20%;
    align-items: center;
    color: #495057;
    font-size: 10px;
    border-bottom: 1px solid #dee2e6;
    padding: 16px;
    .btns {
      .updateBtn {
        background: blue;
        color: white;
      }
      .deleteBtn {
        background: red;
        color: white;
      }
    }
  }
}
