.OptionCard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  position: relative;
  width: 150px;
  z-index: 0;
  border: 2px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;

  input {
    display: none;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.cardImg {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: hidden;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.check {
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.329);
  opacity: 0;
  transition: opacity 0.3s;

  .checkCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffb800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }
}

.card input:checked ~ .check {
  opacity: 1;
}

.card input:checked ~ .cardImg {
  border: 2px solid #ffb800;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .OptionCard {
    justify-content: center;
    .card {
      width: 300px;
    }
  }
}
@media (max-width: 768px) {
  .OptionCard {
    .card {
      width: 230px;
    }
  }
}
@media (max-width: 640px) {
  .OptionCard {
    .card {
      width: 180px;
    }
  }
}
@media (max-width: 475px) {
  .OptionCard {
    .card {
      width: 133px;
    }
  }
}
