.container {
  .mainContainer {
    border-radius: 25px;
    margin: 40px 0;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background: white;
    .faqImage {
      width: 45%;
      height: 400px;
      object-fit: contain;
    }
    .faq_content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;

      h1 {
        font-weight: 400;
        font-size: 54px;
        color: #1b2836;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        color: #69686f;
        line-height: 1.6;
      }
      button {
        padding: 15px 30px;
        background-color: #ffc400;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
        color: #1b2836;
        cursor: pointer;
        transition: background-color 0.3s ease;
        max-width: fit-content;

        &:hover {
          background-color: #ff9900;
        }
      }

      .messangers {
        display: flex;
        gap: 10px;
        align-items: center;

        span {
          font-weight: 400;
          font-size: 16px;
          color: #69686f;
        }

        .icons {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          border-radius: 50%;
          color: #ffc400;
          border: 1px solid #ff9900;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: #ffc400;
            color: #fff;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .mainContainer {
      .faq_content {
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 17px;
        }
      }
    }
  }

  @media (max-width: 1030px) {
    .mainContainer {
      .faq_content {
        h1 {
          font-size: 35px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .mainContainer {
      flex-direction: column;
      height: auto;
      gap: 30px;

      .faqImage {
        width: 100%;
      }

      .faq_content {
        width: 100%;
      }
    }
  }
}
